body {
   padding-top: 56px; /* Adjusted for fixed navbar
    */
   background-image: url('assets/neelkamal-deka-9-lAaGgY6Uc-unsplash.jpg') ;
   font-family: 'Roboto Slab', serif;
   
}

.login-container {
   max-width: 400px;
   width: 100%;

}

.carousel-inner {
   height: 650px; /* Adjust the height of the carousel */
}

.carousel-item {
   background-size: cover;
   background-position: center;
   position: relative;
}

.carousel-caption {
   margin-top: 200px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   color: black;
   text-align: center;
   background-color: #efe9e9;
   border-radius: 70%;
   font-family: 'Kalnia', serif;
   font-family: 'Playfair Display', serif;
   font-family: 'Roboto Slab', serif;
   
}

#landing {
   background-image: url('assets/hulki-okan-tabak-x3kQTL7yw30-unsplash.jpg'); /* Fallback color if the images are not available */
   background-size: cover;
   color: white;
   padding: 250px 0; /* Adjusted padding for the landing section */
   text-align: center;
   border-radius: 70%;
   height: auto;
}

.portfolio-item {
   margin-bottom: 30px;
}

#nav {
   background-color: #000000;
}

#carousel-img {
   /* margin-left: 250px; */
   display: block;
   margin-left: auto;
   margin-right: auto;
   max-width: 100%;
   position: center;
   border-radius: 30px;
   height: auto;
}

.card:hover {
   transform: scale(1.05); /* Increase the size on hover */
   transition: transform 0.3s ease; /* Add a smooth transition effect */
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add a subtle shadow on hover */
}

#prod-heading {
   background: #efe9e9;
   border-radius: 50%;
}

#contact-head{
   background: #efe9e9;
   border-radius: 50%;
}

/* img {
   margin-left: 150px;
   position: center;
   border-radius: 30px;
   height: 60vh;
} */